<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/new.css"
    <title>Add a Book</title>
</head>
<body>
    <form action="/submit" method="post">
    <div class="input-container">
        <h1>Enter a book details you have read.</h1>
       <p class="b-title">Title:</p> <input type="text" name="title" placeholder="Title name please" class="book-title">
       <p class="b-isbn">ISBN:</p> <input type="text" name="isbn" placeholder="ISBN please" class="book-isbn">
       <p class="b-date">Date:</p> <input type="text" name="date" placeholder="DATE please" class="book-date">
       <p class="b-review">Reviews:</p> <input type="text" name="review" placeholder="Mark please" class="book-review">
       <p class="b-description">Description:</p> <input type="text" name="description" placeholder="Description please" class="book-description">
       
       
       
        <button type="submit" name="save" class="submit">Submit</button>


    </div>
    
</form>
</body>
</html>